######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.jar
*.db

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar